<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>User List</title>
</head>
<body>
	<div class="section" layout:fragment="layout_content">
		<ul class="breadcrumb">
			<li><a href="/">Admin Home</a></li>
			<li>User List</li>
		</ul>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading">Student Module</div>
					<div class="panel-body">
						<div class="btn-group" role="group" aria-label="...">
						  <a th:href="@{/admin/user_create}" type="button" class="btn btn-success">Create User</a>
						</div>
						<table class="table table-striped">
							<thead>
								<tr>
									<td>#</td>
									<td>Email</td>
									<td>First Name</td>
									<td>Last Name</td>
									<td>Roles</td>
									<td>&nbsp;</td>
								</tr>
							</thead>
							<tbody>
								<tr th:each="user : ${userList}" th:id="'row_'+${user.id}">
									<td th:text="${user.id}"></td>
									<td th:text="${user.email}"></td>
									<td th:text="${user.firstName}"></td>
									<td th:text="${user.lastName}"></td>
									<td th:text="${user.role}"></td>
									<td>
										<a class="btn btn-warning" th:href="@{'/admin/user_edit/'+${user.id}}"><i class="fa fa-edit"></i></a>
										<a class="btn btn-danger"  th:href="@{'/admin/user_delete/'+${user.id}}" data-confirm="Are you sure you want to delete User?" th:attr="data-id=${user.id}" data-type="delete"><i class="fa fa-remove"></i></a>
									</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
		
	</div>
	
</body>
</html>
