<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="sidebar_layout">
<head>
<title>Content page 1</title>
</head>
<body>
	<section layout:fragment="sidebar_layout_content">
		<ul class="breadcrumb">
			<li><a th:href="@{'/course/list'}">Course List</a></li>
			<li><a th:href="@{'/course/view/'+${task.course.id}}" th:text="${task.course.name}">Course Home</a></li>
			<li th:text="${task.name}"></li>
		</ul>
		<h1 th:text="${task.name}">Assessment name</h1>
		<p th:utext="${task.description}">Description goes here</p>
		<p><strong>Due:</strong> <span th:text="${task.formattedDueDate}"></span></p>
		<table class="table">
			<caption>Assessment List</caption>
			<thead>
				<tr>
					<th>#</th>
					<th>Student</th>
					<th>Student ID</th>
					<th>File</th>
					<th>Marked assessment</th>
					<th>Mark</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="assessment : ${assessments}">
					<td th:text="${assessment.id}">1</td>
					<td
						th:text="${assessment.student.firstName+ ' ' +assessment.student.lastName}">Mark</td>
					<td th:text="${assessment.student.studentId}">Mark</td>
					<td><a
						th:href="@{'/download/'+${assessment.assessmentFile.id}}"> <i
							class="fa fa-fw fa-file-word-o"></i> <span
							th:text="${assessment.assessmentFile.fileName}" th:remove="tag"></span>
					</a></td>

					<th:block th:if="${assessment.mark}">
						<td><a
							th:href="@{'/download/'+${assessment.markedFile.id}}"> <i
								class="fa fa-fw fa-file-word-o"></i> <span
								th:text="${assessment.markedFile.fileName}" th:remove="tag"></span>
						</a> <a class="btn btn-warning btn-xs" th:href="@{'/teacher/assessment/upload_marked/'+${assessment.id}+''}" th:text="update"></a></td>
						<td><span class="label label-success"
							th:text="${assessment.mark}"></span></td>
					</th:block>
					
					<th:block th:if="!${assessment.mark}">
						<td><a
							th:href="@{'/teacher/assessment/upload_marked/'+${assessment.id}+''}">Upload marked
						</a></td>
						<td><span class="label label-danger">Not marked</span></td>
					</th:block>

				</tr>

			</tbody>
		</table>
		<br />


	</section>
</body>
</html>