<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="sidebar_layout">
<head>
<title>Content page 1</title>
</head>
<body>
	<section layout:fragment="sidebar_layout_content">
		<ul class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li th:text="${course.name}">Course Name</li>
		</ul>
		<h1><span th:text="${course.name}">IELTS Target 8 Main Page index</span> <a sec:authorize="hasRole('TEACHER')" th:href="'/teacher/course/edit/'+${course.id}" class="btn btn-warning btn-sm">Edit</a></h1>
		<p th:utext="${course.description}">course description</p>
		<!-- /* 
		<div class="well">
			<h2>
				<i class="fa fa-fw fa-info"></i>Important Information
			</h2>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce
				dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
				ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
				magna mollis euismod. Donec sed odio dui.</p>
		</div>
		*/ -->
		<p>
			<a class="btn btn-success btn-sm"
				th:href="'/teacher/week/new/course/'+${course.id}"
				sec:authorize="hasRole('TEACHER')">Add New Week</a>
		</p>
		<div class="panel panel-primary" th:each="week : ${course.weeks}">
			<div class="panel-heading">
				<h3 class="panel-title">
					Week <span th:text="${week.number}" th:remove="tag">number</span> <span
						class="btn-group pull-right" role="group"
						sec:authorize="hasRole('TEACHER')"> <a
						class="btn btn-warning btn-xs"
						th:href="@{'/teacher/week/edit/'+${week.id}}">Edit</a> <a
						class="btn btn-danger btn-xs"
						th:href="@{'/teacher/week/delete/'+${week.id}}">Delete</a>
					</span>
				</h3>
			</div>

			<div class="panel-body">
				<p th:text="${week.description}">Week Description</p>
				<h3>
					Weekly Material <span class="btn-group" role="group"> <a
						class="btn btn-warning btn-xs"
						th:href="@{'/teacher/material/edit/week/'+${week.id}}"
						sec:authorize="hasRole('TEACHER')">Edit</a>
					</span>
				</h3>
				<ul class="list-unstyled">
					<li th:each="material : ${week.materials}" th:remove="tag">
						<div
							th:replace="course/fragments :: material_file (${material.fileName}, '/download/'+${material.id}, ${material.extension})"></div>
					</li>
				</ul>
				<div class="well comment_container">
					<h2>
						<i class="fa fa-fw fa-comments-o"></i>Comments (<span class="comment_count" th:text="${week.comments.size()}">2</span>) <i
							class="fa fa-fw fa-minus pull-right s-o toggle_comment"></i>
					</h2>
					<div class="comment_block" style="display: none;">
						<ul class="media-list comment_list">
							<li class="media" th:each="comment : ${week.comments}">
								<div class="media-body">
									<h4 class="media-heading" th:text="${comment.user.firstName}+' '+${comment.user.lastName}">Joseph</h4>
									<p th:text="${comment.message}">Cras sit amet nibh libero, in gravida nulla. Nulla vel
										metus scelerisque ante sollicitudin commodo. Cras purus odio,
										vestibulum in vulputate at, tempus viverra turpis.</p>
								</div></li>
						</ul>
						<div>
							<form>
								<div class="form-group">
									<label class="control-label">Comment message</label>
									<textarea class="form-control comment_message" rows="" cols=""></textarea>
									<div class="help-block text-danger error_block" style="display:none;"></div>
								</div>
								
								<input class="btn btn-success submit_comment" type="button" value="Add comment" th:attr="'data-week-id'=${week.id}" />
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>
		<p>
			<a class="btn btn-success btn-sm"
				th:href="'/teacher/week/new/course/'+${course.id}"
				sec:authorize="hasRole('TEACHER')">Add New Week</a>
		</p>
	</section>
</body>
</html>