<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Access Denied</title>
</head>
<body>
	<div class="section" layout:fragment="layout_content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="jumbotron">
					  <h1>Access Denied</h1>
					  <p>You are not allowed to access this page</p>
					</div>
				</div>
			</div>
		</div>
    </div>
</body>
</html>