<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="sidebar_layout">
<head>
<title>Content page 1</title>
</head>
<body>
	<section layout:fragment="sidebar_layout_content">
		<ul class="breadcrumb">
			<li><a href="#">Home</a></li>
		</ul>
		<h1>IELTS Target 8 Main Page</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisici elit, <br />sed
			eiusmod tempor incidunt ut labore et dolore magna aliqua. <br />Ut
			enim ad minim veniam, quis nostrud
		</p>
		<div class="well">
			<h2>
				<i class="fa fa-fw fa-info"></i>Important Information
			</h2>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce
				dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
				ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
				magna mollis euismod. Donec sed odio dui.</p>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Week 1</h3>
			</div>
			<div class="panel-body">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisici elit, <br />sed
					eiusmod tempor incidunt ut labore et dolore magna aliqua. <br />Ut
					enim ad minim veniam, quis nostrud
				</p>
				<h3>Weekly Material</h3>
				<ul class="list-unstyled">
					<li><i class="fa fa-2x fa-fw fa-file-word-o"></i> <a href="#">Reading</a>
					</li>
					<li><i class="fa fa-2x fa-fw fa-file-audio-o"></i> <a href="#">Listening</a>
					</li>
					<li><i class="fa fa-2x fa-fw fa-file-word-o"></i> <a href="#">Writing</a>
					</li>
					<li><i class="fa fa-2x fa-fw fa-file-word-o"></i> <a href="#">Speaking</a>
					</li>
				</ul>
				<div class="well">
					<h2>
						<i class="fa fa-fw fa-comments-o"></i>Comments (2) <i
							class="fa fa-fw fa-minus pull-right s-o"></i>
					</h2>
					<ul class="media-list">
						<li class="media"><a class="pull-left" href="#"><img
								class="media-object"
								src="http://pingendo.github.io/pingendo-bootstrap/assets/blurry/800x600/1.jpg"
								height="64" width="64" /></a>
							<div class="media-body">
								<h4 class="media-heading">Joseph</h4>
								<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel
									metus scelerisque ante sollicitudin commodo. Cras purus odio,
									vestibulum in vulputate at, tempus viverra turpis.</p>
							</div></li>
						<li class="media"><a class="pull-left" href="#"><img
								class="media-object"
								src="http://pingendo.github.io/pingendo-bootstrap/assets/blurry/800x600/3.jpg"
								height="64" width="64" /></a>
							<div class="media-body">
								<h4 class="media-heading">Sara</h4>
								<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel
									metus scelerisque ante sollicitudin commodo. Cras purus odio,
									vestibulum in vulputate at, tempus viverra turpis.</p>
							</div></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Week 2</h3>
			</div>
			<div class="panel-body">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisici elit, <br />sed
					eiusmod tempor incidunt ut labore et dolore magna aliqua. <br />Ut
					enim ad minim veniam, quis nostrud
				</p>
				<h3>Weekly Material</h3>
				<ul class="list-unstyled">
					<li><i class="fa fa-2x fa-fw fa-file-word-o"></i> <a href="#">Reading</a>
					</li>
					<li><i class="fa fa-2x fa-fw fa-file-audio-o"></i> <a href="#">Listening</a>
					</li>
					<li><i class="fa fa-2x fa-fw fa-file-word-o"></i> <a href="#">Writing</a>
					</li>
					<li><i class="fa fa-2x fa-fw fa-file-word-o"></i> <a href="#">Speaking</a>
					</li>
				</ul>
				<div class="well">
					<h2>
						<i class="fa fa-fw fa-comments-o"></i>Comments (5) <span
							class="label label-success">5 New</span> <i
							class="fa fa-fw pull-right s-o fa-plus"></i>
					</h2>
				</div>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Week 3</h3>
			</div>
			<div class="panel-body">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisici elit, <br />sed
					eiusmod tempor incidunt ut labore et dolore magna aliqua. <br />Ut
					enim ad minim veniam, quis nostrud
				</p>
				<h3>Weekly Material</h3>
				<ul class="list-unstyled">
					<li><i class="fa fa-2x fa-fw fa-file-word-o"></i> <a href="#">Reading</a>
					</li>
					<li><i class="fa fa-2x fa-fw fa-file-audio-o"></i> <a href="#">Listening</a>
					</li>
					<li><i class="fa fa-2x fa-fw fa-file-word-o"></i> <a href="#">Writing</a>
					</li>
					<li><i class="fa fa-2x fa-fw fa-file-word-o"></i> <a href="#">Speaking</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Week 4</h3>
			</div>
			<div class="panel-body">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisici elit, <br />sed
					eiusmod tempor incidunt ut labore et dolore magna aliqua. <br />Ut
					enim ad minim veniam, quis nostrud
				</p>
				<h3>Weekly Material</h3>
				<ul class="list-unstyled">
					<li><i class="fa fa-2x fa-fw fa-file-word-o"></i> <a href="#">Reading</a>
					</li>
					<li><i class="fa fa-2x fa-fw fa-file-audio-o"></i> <a href="#">Listening</a>
					</li>
					<li><i class="fa fa-2x fa-fw fa-file-word-o"></i> <a href="#">Writing</a>
					</li>
					<li><i class="fa fa-2x fa-fw fa-file-word-o"></i> <a href="#">Speaking</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Week 5</h3>
			</div>
			<div class="panel-body">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisici elit, <br />sed
					eiusmod tempor incidunt ut labore et dolore magna aliqua. <br />Ut
					enim ad minim veniam, quis nostrud
				</p>
				<h3>Weekly Material</h3>
				<ul class="list-unstyled">
					<li><i class="fa fa-2x fa-fw fa-file-word-o"></i> <a href="#">Reading</a>
					</li>
					<li><i class="fa fa-2x fa-fw fa-file-audio-o"></i> <a href="#">Listening</a>
					</li>
					<li><i class="fa fa-2x fa-fw fa-file-word-o"></i> <a href="#">Writing</a>
					</li>
					<li><i class="fa fa-2x fa-fw fa-file-word-o"></i> <a href="#">Speaking</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
</body>
</html>