<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>GoIELTS!</title>
<link rel='stylesheet'
	th:href='@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}' />
<link rel='stylesheet'
	th:href='@{/webjars/font-awesome/4.5.0/css/font-awesome.min.css}' />
<link
	href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
	rel="stylesheet" type="text/css" />

<link rel='stylesheet' th:href='@{/css/main.css}' />
<script th:src="@{/webjars/jquery/2.2.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/angularjs/1.5.0-rc.0/angular.js}"></script>
<script th:src="@{'/js/scripts.js?v=2'}"></script>
<script type="text/javascript" th:inline="javascript">_csrf=[[${_csrf}]];</script>
</head>
<body>
	<div id="alerts" class="alerts-container">
		<th:block th:if="${success}">
            <div th:replace="fragments/alert :: alert (type='success', message=${success})">Alert</div>
        </th:block>
	</div>
	<div class="navbar navbar-default navbar-inverse navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#navbar-ex-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>GoIELTS!</span></a>
			</div>
			<div class="collapse navbar-collapse" id="navbar-ex-collapse"
				sec:authorize="isAuthenticated()">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">Contacts</a></li>
					<li><a th:href="@{'/logout'}">Log Out</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<section layout:fragment="layout_content">
			<p>Page content goes here</p>
		</section>
	</div>
	<footer class="section section-primary footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<h1>Footer header</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisici elit, <br />sed
						eiusmod tempor incidunt ut labore et dolore magna aliqua. <br />Ut
						enim ad minim veniam, quis nostrud
					</p>
				</div>
				<div class="col-sm-6">
					<p class="text-info text-right">
						<br /> <br />
					</p>
					<div class="row">
						<div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
							<a href="#"><i
								class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a> <a
								href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
							<a href="#"><i
								class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a> <a href="#"><i
								class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 hidden-xs text-right">
							<a href="#"><i
								class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a> <a
								href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
							<a href="#"><i
								class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a> <a href="#"><i
								class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
						</div>
					</div>
				</div>
			</div>
			<p layout:fragment="custom-footer">Custom footer here</p>
		</div>
	</footer>
</body>
</html>