<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Layout page</title>
</head>
<body>

	<div class="section" layout:fragment="layout_content">

		<div class="row">
			<div class="col-md-3">
				<th:block th:if="${tasks}">
					<h1>Assessments</h1>
					<ul>
						<li th:each="task : ${tasks}">
						<a th:href="@{'/task/view/'+${task.id}}" th:text="${task.name}"></a> 
						</li>
					</ul>
				</th:block>
				
				<p>
					Current week: <strong>5</strong>
				</p>
			</div>
			<div class="col-md-9">
				<section layout:fragment="sidebar_layout_content">
					<!-- Content -->
				</section>
			</div>
		</div>
	</div>


</body>
</html>